[submodule "pattern-recognition"]
	path = pattern-recognition
	url = git@github.com:abjin/pattern-recognition-notes.git
[submodule "computer-vision"]
	path = computer-vision
	url = git@github.com:abjin/computer-vision-notes.git
[submodule "transformer-notes"]
	path = transformer-notes
	url = git@github.com:abjin/transformer-notes.git
[submodule "rag-optimization-experiment"]
	path = rag-optimization-experiment
	url = github.com/abjin/rag-optimization-experiment.git

[submodule "paper-review"]
	path = paper-review
	url = https://github.com/abjin/paper-review
